$padding:0;
$margin:0;
//Цвета
$main-background:#0F1145;
$orange-color: #F2994A;
$white-color:white;
$turquoise-color:#99efd0;
$deep-turquoise-color:#13C296;
$lilac-color:#8476AA;
$navy-violet-color:#303060;
//Медиа
$breakpoint-laptop:1200px;
$breakpoint-tablet:768px;
$breakpoint-mobile:320px;
    
@mixin media ($breakpoint) {
    @media(max-width:$breakpoint) {
        @content;
    }
}
.wrapper {
    max-width: 1900px;
    @include media ($breakpoint-mobile) {
        max-width: 320px;
       }
}
.circle {
    height: 36px;
    width: 36px;
    background-color: $orange-color;
    border-radius: 50px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
.white__block {
    height: 6px;
    width: 14px;
    background-color: $white-color;
    border-radius: 2px;
}
.circle__container {
    align-items: center;
    gap: 2px;
    position: relative;
    top: 11px;
    @include flex-column;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 79px 179px 0 179px;
    &__links {
        display: flex;
        align-items: center;
        gap: 24px;
        list-style:none;
        text-transform: uppercase;
        letter-spacing: 0.17em;
        font-weight: 500;
    }
    &__button__container {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    @include media ($breakpoint-tablet) {
        padding: 20px 10px 0 10px;
       }
}
.header__links {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    font-weight: 500;
    @include media ($breakpoint-tablet) {
        display: block;
       }
  }
.header__leftBlock {
    display: flex;
    gap: 44px;
    @include media ($breakpoint-tablet) {
        gap: 28px;
        text-align: center;
       }
}
.header__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    @include media ($breakpoint-tablet) {
       flex-direction: column;
       gap: 20px;
       }
  }
a {
    text-decoration: none;
    color: #B5B5B5;
}
.orange__button {
    width:max-content ;
    padding: 10px 26px 10px 26px;
    background-color: $orange-color;
    border:1px solid $orange-color;
    border-radius: 5px;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background: linear-gradient(0deg,#d87016 0%, #F2994A 100%);
        box-shadow: -11px 18px 37px 0 rgba(242, 153, 74, 0.23);
    }
}
#orange__btn__two {
    padding: 18px 31px 18px 31px;
}
.transparent__button {
    padding: 18px 57px 18px 57px;
    border: 1px solid $orange-color;
    background-color: transparent;
    color: $orange-color;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    cursor: pointer;
    &:hover {
        background: linear-gradient(0deg,#3B1D60 0%, #F2994A 100%);
        color: $white-color;
    }
    @include media ($breakpoint-mobile) {
       padding: 17px 19px 17px 19px;
        }
}
#transparent__btn {
    padding: 10px 26px 10px 26px;
}
#learn__more__btn {
   padding: 17px 31px 17px 31px;
   @include media ($breakpoint-tablet) {
    padding: 18px 40px 17px 40px;
    font-size: 12px;
    }
}
.main__text {
    color: $lilac-color;
    font-weight: 600;
    font-size: 19px;
}
.main__container {
    padding: 0 180px 0 180px;
    margin-top: 104px;
    @include media ($breakpoint-laptop) {
        padding: 0 0 0 21px;
    }
    @include media ($breakpoint-mobile) {
        padding: 12px;
        margin-top: 30px;
    }
}
.common__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width:320px) {
       display: block;
    }
}
.main__text__btn__container {
    gap: 40px;
    @include flex-column;
}
.text__btn__video__container {
    @include flex-column;
    gap: 60px;
}
.main__text__container {
    gap: 19px;
    @include flex-column;
}

.main__title {
    font-size: 44px;
    color: $turquoise-color;
    @include media ($breakpoint-tablet) {
        font-size: 25px;
       }
}
.main__img {
    width: 723px;
    height: 579px;
    @media (max-width:320px) {
       display: none;
    }
}
.choice {
    margin-top: 50px;
}
.secondary__text {
    color: $lilac-color;
    font-weight: 600;
    @include media ($breakpoint-tablet) {
        text-align: center;
       }
}
.video__picture {
    width: 140px;
    height: 80px;
    @media (max-width:320px) {
        display: flex;
        justify-self: center;
    }
}
.video__picture__container {
    display: flex;
    gap: 20px;
    @media (max-width:320px) {
        display: block;
    }
}
.video__text__container {
    justify-self: center;
    align-self: center;
    gap: 4px;
    @include flex-column;
}
.text__preview {
    color: #6d6d78;
    @include media ($breakpoint-mobile) {
        text-align: center;
    }
}

.brands__container {
    display: flex;
    justify-content: center;
    gap: 74px;
    @media(max-width:1035px){
        gap: 24px;
    }
    @include media ($breakpoint-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 50px;
       }

}
.grid__container {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    padding: 0 400px 0;
    margin-top: 50px;
    row-gap: 35px;
    @include media ($breakpoint-mobile) {
        grid-template-columns: 1fr;
        }
        @include media ($breakpoint-tablet) {
           grid-template-columns: 1fr 1fr;
           padding: 0;
            }
}
.grid-elem {
    color: $lilac-color;
    font-weight: 600;
    display: flex;
    gap: 24px;
    @include media ($breakpoint-mobile) {
        display: block;
        text-align: center;
        }
        
}
.grid-elem-text-block {
    gap: 10px;
    @include flex-column;
}
.grid-elem-img {
    height: 24px;
    width: 24px;
}

.grid__title {
    color: $turquoise-color;
    position: relative;
}

#grid__title-two {
    color: $turquoise-color;
    position: relative;
}
#grid__title-three {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -30px;
        height: 27px;
        width: 27px;
        background: url("./assets/images/LTE#1.png") center center / cover no-repeat;
    }
}
.traffic__container {
    @include flex-column;
    justify-content: center;
}
.green__title {
    color: $turquoise-color;
    font-size: 42px;
    @include media ($breakpoint-tablet) {
        font-size: 36px;
    }
}
span {
    color: $orange-color;
}
.overview {
    width: 232px;
    height: 225px;
    position: relative;
    display: flex;
    align-items: start;
    left: 106px;
    top: 17px;
    @media (max-width:320px) {
        left: 60px;
    }
}
.photo {
    width: 286px;
    height: 357px;
    background-image: url("./assets/images/Photo.png");
    display: flex;
    justify-content: end;
  
    @include media ($breakpoint-tablet) {
       justify-self: center;
    }
}
.transparent__img {
    width:142px;
    height:156px;
    background-image: url("./assets/images/Stacked\ Group.png");
    display: flex;
    align-self: end;
    position: relative;
    z-index: -2;
    right: 180px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media ($breakpoint-mobile) {
        display: block;
        padding: 0;
    }
}
.green__container {
    width: 89px;
    height: 80px;
    background-color: $deep-turquoise-color;
    display: flex;
    align-self: end;
    justify-content: center;
    position: relative;
    right: 250px;
    border-radius: 8px;
    &:hover {
        box-shadow: -11px 16px 25px 0 rgba(19, 194, 150, 0.24);
    }
    @include media ($breakpoint-mobile) {
        right: 0;
    }
}
.arrow__img {
    width:48px;
    height:28px;
    display: flex;
    align-self: center;
}
.block {
    display: flex;
    justify-items: center;
    @media (max-width:320px) {
        width: 310px;
        align-items: center;
    }
}
.three__simple__ways {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-top: 48px;
    @media (max-width:320px) {
        display: grid;
        grid-template-columns: 1fr;

    }
    @media (max-width:768px) {
        gap: 50px;
    }
}
.three__simple__ways__container {
    margin-top: 50px;
    justify-self: center;
    @include flex-column;
    min-width: 1091px;
}
.three__ways__title {
    font-size: 36px;
    text-align: center;
    color:$turquoise-color;
    @include media ($breakpoint-mobile) {
        font-size: 21px;
    }
   
}
.container__four {
    margin-top: 169px;
    @include media ($breakpoint-mobile) {
       margin-top: 50px;
    }
}
.container__three__ways {
    align-self: center;
    gap: 32px;
    @include flex-column;
}
#secondary__text {
    display: flex;
    color: $lilac-color;
    font-weight: 600;
    @include media ($breakpoint-tablet) {
        text-align: center;
       }
}
#secondary__text__two {
    width: 179px;
    text-align: center;
    display: flex;
    justify-self: center;
}
#secondary__text__three {
    width: 295px;
    text-align: center;
    display: flex;
    justify-self: center;
}
#secondary__text__four {
    width: 218px;
    text-align: center;
    display: flex;
    justify-self: center;
}
#secondary__text__centered {
    margin: 0 auto;
    text-align: center;
}
#green__title {
    text-align: center;
    @media (max-width:320px) {
        font-size: 30px;
    }
}
.img {
    display: flex;
    justify-self: center;
    @media (max-width:320px) {
        width: 320px;
        height: 150px;
    }
}
.container__for__title-and-button {
    justify-self: center;
    @include flex-column;
    gap: 48px;
}

.button__container {
    display: flex;
    align-self: center;
}
.container__for__different__blocks {
    display: flex;
    justify-self: center;
    @media (max-width:768px) {
        justify-self: start;
    }
    @media (max-width:320px) {
        display: block;
    }
}
.card {
    height: 414px;
    width: 260px;
    background-color: $white-color;
    border-radius: 0 0 10px 10px;
}
.lilac__block {
    background-color: #516EA9;
    width: 130px;
    height: 65px;
    border-radius: 10px;
    position: relative;
    top: 250px;
    right: 10px;
    z-index: -1;
}
.lilac__container {
    align-items: center;
    padding-top: 15px;
    @include flex-column;
}
.text__white {
  color: $white-color;
}
#text__white {
    color: $white-color;
    font-size: 10px;
    letter-spacing: 0.05em;
    font-weight: 600;
}
.card__line {
    width: 200px;
    display: flex;
    justify-self: center;
    border: 1px solid #D6DBDF;
}
.card__container {
    display: flex;
    gap: 42px;
}
.light__gray__text {
    color: #98A4AF;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.05em;
}
.dark__gray__text {
    color: #637381;
    font-size: 12px;
}
.card__title {
    font-size: 16px;
}
#green__container {
    height: 60px;
    width: 60px;
    right: 0;
    &:hover {
        box-shadow: -11px 16px 25px 0 rgba(19, 194, 150, 0.24);
    }
}
#arrow__img {
    height: 18px;
    width: 32px;
}
#block {
    display: flex;
    align-self: center;
    position: relative;
    left: 30px;
    margin-top: -110px;
    @media (max-width:320px) {
        width: 60px;
    }
}
.dark__green__title {
    color: $deep-turquoise-color;
    font-size: 24px;
    font-weight: 400;
}
.card__text__container {
    padding: 20px 20px 16px 29px;
    gap: 20px;
    @include flex-column;
}
.card__img {
    height: 36px;
    width: 36px;
    @include media ($breakpoint-mobile) {
        justify-content: center;
    }
}
.feature__title {
    color: $turquoise-color;
    font-weight: 700;
    letter-spacing: 0.01em;
}
.another__green__title {
    font-size: 26px;
    color: $turquoise-color;
}
.features__container {
    display: flex;
    @media (max-width:320px) {
        display: block;
    }
}
#another__secondary__text {
    font-weight: 600;
}
.info__online__container {
    display: flex;
    justify-self: center;
    gap: 84px;
    @media (max-width:320px) {
       display: grid;
       grid-template-columns: 1fr;
       justify-self: normal;
    }
}
.help__container {
    align-self: center;
    gap: 48px;
    @include flex-column;
}
.email__section {
    height: 497px;
    display: flex;
    justify-self: center;
    align-items: center;
}
.email__container {
    height: 324px;
    width: 940px;
    background-color: #181A50;
    justify-self: center;
    border-radius: 5px;
    padding: 50px 0 0 0;
    gap: 20px;
    @include flex-column;
    @media (max-width:320px) {
        width: 320px;
        height: 400px;
    }
}
.orange__title {
    color: $orange-color;
    font-size: 34px;
    text-align: center;
    @include media ($breakpoint-mobile) {
        font-size: 29px;
    }
}
.email {
    width: 288px;
    height: 46px;
    padding: 0 0 0 16px;
    background-color: $navy-violet-color;
    border: 1px solid $navy-violet-color;
    border-radius: 5px;
    @media (max-width:320px) {
        width: 180px;
    }
}
.email::placeholder {
    color: #5a5a80;
}
.secondary__text__two{
    color: #95A1BB;
    text-align: center;
    font-weight: 600;
}
.secondary__text__three {
    color: $lilac-color;
    text-align: center;
    font-weight: 600;
}
.email__button__container {
    display: flex;
    justify-content: center;
}
#button__send {
    height: 46px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

li {
    list-style: none;
}
.white__list {
    color: $white-color;
    gap: 16px;
    @include flex-column;
    a {
        color: $white-color;
    }
    @media (max-width:320px) {
        width: 200px;
    }
}
.ARShakir {
    color: $orange-color;
    @include media ($breakpoint-mobile) {
        text-align: center;
       }
}
.circle__block {
    background-color: $navy-violet-color;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.circle__block__container {
    display: flex;
    gap: 16px;
        .circle__block {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

.circle__img {
    display: flex;
    justify-self: center;
}
.footer__titleContainer {
    display: flex;
    justify-content: space-between;
    @include media ($breakpoint-tablet) {
        @include flex-column;
        align-self: center;
        gap: 20px;
       }
}
.footer {
    padding: 0 248px 99px 200px;
    gap: 94px;
    @include flex-column;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__container {
        display: flex;
        justify-content: center;
        gap: 34px;
        color: #8D8D8D;
    }
    @include media ($breakpoint-tablet) {
        padding: 0 0 20px;
       }
}
.choice__title {
    font-size: 42px;
    text-align: center;
    color: $turquoise-color;
}
.cards__title__container {
    align-items: center;
    @include flex-column;
}
.title__text__container {
    gap: 32px;
    @include flex-column;
}
.container__two {
    gap: 48px;
    @include flex-column;
}
.figures__container {
    @include flex-column;
    align-self: end;
    height: 256px;
    position: relative;
    left: 40px;
    z-index: -2;
    @media (max-width:320px) {
        display: none;
    }
}
.navy__figure {
    width: 120px;
    height: 120px;
    border:1px solid #3056D3;
    border-top-left-radius: 110px;
    position: relative;
    top: 40px;
    z-index: -1;
}
.turquoise__figure {
    width: 68px;
    height: 68px;
    border-top-right-radius: 100px;
    background-color: $deep-turquoise-color;
    position: relative;
    left: 40px;
    z-index: -2;
}
.img__container {
    display: flex;
    @media (max-width:320px) {
        display: block;
        width: 310px;
    }
}
.footer__list {
    display: flex;
    justify-content: space-between;
    @include media ($breakpoint-tablet) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
        align-self: center;
        text-align: center;
       }
  }
  
.footer__container {
    display: flex;
    justify-content: center;
    gap: 34px;
    color: #8D8D8D;
    @include media ($breakpoint-tablet) {
       display: block;
       text-align: center;
       }
  }
.dots__container {
    display: flex;
    @media (max-width:320px) {
       display: block;
       width: 310px;
    }
}
.dots__picture {
    height: 62px;
    width: 132px;
    position: relative;
    left: 220px;
    margin-top: -25px;
    z-index: -1;
    @media (max-width:320px) {
        display: none;
    }
}
.dots__picture__two {
    height: 62px;
    width: 65px;
    display: flex;
    align-self: center;
    position: relative;
    top: 30px;
    right: 25px;
    z-index: -1;
    @media (max-width:320px) {
        display: none;
    }
}
.bitmap {
    height: 422px;
    width: 375px;
    @media (max-width:320px) {
        height: 320px;
        width: 310px;
    }
}
.title__number {
    font-weight: 700;
}
