.wrapper {
  max-width: 1900px;
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
  }
}

.circle {
  height: 36px;
  width: 36px;
  background-color: #F2994A;
  border-radius: 50px;
}

.white__block {
  height: 6px;
  width: 14px;
  background-color: white;
  border-radius: 2px;
}

.circle__container {
  align-items: center;
  gap: 2px;
  position: relative;
  top: 11px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 79px 179px 0 179px;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-weight: 500;
}
.header__button__container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 10px 0 10px;
  }
}

.header__links {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-weight: 500;
}
@media (max-width: 768px) {
  .header__links {
    display: block;
  }
}

.header__leftBlock {
  display: flex;
  gap: 44px;
}
@media (max-width: 768px) {
  .header__leftBlock {
    gap: 28px;
    text-align: center;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .header__buttons {
    flex-direction: column;
    gap: 20px;
  }
}

a {
  text-decoration: none;
  color: #B5B5B5;
}

.orange__button {
  width: -moz-max-content;
  width: max-content;
  padding: 10px 26px 10px 26px;
  background-color: #F2994A;
  border: 1px solid #F2994A;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-weight: 600;
  cursor: pointer;
}
.orange__button:hover {
  background: linear-gradient(0deg, #d87016 0%, #F2994A 100%);
  box-shadow: -11px 18px 37px 0 rgba(242, 153, 74, 0.23);
}

#orange__btn__two {
  padding: 18px 31px 18px 31px;
}

.transparent__button {
  padding: 18px 57px 18px 57px;
  border: 1px solid #F2994A;
  background-color: transparent;
  color: #F2994A;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  cursor: pointer;
}
.transparent__button:hover {
  background: linear-gradient(0deg, #3B1D60 0%, #F2994A 100%);
  color: white;
}
@media (max-width: 320px) {
  .transparent__button {
    padding: 17px 19px 17px 19px;
  }
}

#transparent__btn {
  padding: 10px 26px 10px 26px;
}

#learn__more__btn {
  padding: 17px 31px 17px 31px;
}
@media (max-width: 768px) {
  #learn__more__btn {
    padding: 18px 40px 17px 40px;
    font-size: 12px;
  }
}

.main__text {
  color: #8476AA;
  font-weight: 600;
  font-size: 19px;
}

.main__container {
  padding: 0 180px 0 180px;
  margin-top: 104px;
}
@media (max-width: 1200px) {
  .main__container {
    padding: 0 0 0 21px;
  }
}
@media (max-width: 320px) {
  .main__container {
    padding: 12px;
    margin-top: 30px;
  }
}

.common__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 320px) {
  .common__container {
    display: block;
  }
}

.main__text__btn__container {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.text__btn__video__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.main__text__container {
  gap: 19px;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-size: 44px;
  color: #99efd0;
}
@media (max-width: 768px) {
  .main__title {
    font-size: 25px;
  }
}

.main__img {
  width: 723px;
  height: 579px;
}
@media (max-width: 320px) {
  .main__img {
    display: none;
  }
}

.choice {
  margin-top: 50px;
}

.secondary__text {
  color: #8476AA;
  font-weight: 600;
}
@media (max-width: 768px) {
  .secondary__text {
    text-align: center;
  }
}

.video__picture {
  width: 140px;
  height: 80px;
}
@media (max-width: 320px) {
  .video__picture {
    display: flex;
    justify-self: center;
  }
}

.video__picture__container {
  display: flex;
  gap: 20px;
}
@media (max-width: 320px) {
  .video__picture__container {
    display: block;
  }
}

.video__text__container {
  justify-self: center;
  align-self: center;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.text__preview {
  color: #6d6d78;
}
@media (max-width: 320px) {
  .text__preview {
    text-align: center;
  }
}

.brands__container {
  display: flex;
  justify-content: center;
  gap: 74px;
}
@media (max-width: 1035px) {
  .brands__container {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .brands__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
  }
}

.grid__container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  padding: 0 400px 0;
  margin-top: 50px;
  row-gap: 35px;
}
@media (max-width: 320px) {
  .grid__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

.grid-elem {
  color: #8476AA;
  font-weight: 600;
  display: flex;
  gap: 24px;
}
@media (max-width: 320px) {
  .grid-elem {
    display: block;
    text-align: center;
  }
}

.grid-elem-text-block {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.grid-elem-img {
  height: 24px;
  width: 24px;
}

.grid__title {
  color: #99efd0;
  position: relative;
}

#grid__title-two {
  color: #99efd0;
  position: relative;
}

#grid__title-three {
  position: relative;
}
#grid__title-three::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  height: 27px;
  width: 27px;
  background: url("./assets/images/LTE#1.png") center center/cover no-repeat;
}

.traffic__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.green__title {
  color: #99efd0;
  font-size: 42px;
}
@media (max-width: 768px) {
  .green__title {
    font-size: 36px;
  }
}

span {
  color: #F2994A;
}

.overview {
  width: 232px;
  height: 225px;
  position: relative;
  display: flex;
  align-items: start;
  left: 106px;
  top: 17px;
}
@media (max-width: 320px) {
  .overview {
    left: 60px;
  }
}

.photo {
  width: 286px;
  height: 357px;
  background-image: url("./assets/images/Photo.png");
  display: flex;
  justify-content: end;
}
@media (max-width: 768px) {
  .photo {
    justify-self: center;
  }
}

.transparent__img {
  width: 142px;
  height: 156px;
  background-image: url("./assets/images/Stacked Group.png");
  display: flex;
  align-self: end;
  position: relative;
  z-index: -2;
  right: 180px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 320px) {
  .container {
    display: block;
    padding: 0;
  }
}

.green__container {
  width: 89px;
  height: 80px;
  background-color: #13C296;
  display: flex;
  align-self: end;
  justify-content: center;
  position: relative;
  right: 250px;
  border-radius: 8px;
}
.green__container:hover {
  box-shadow: -11px 16px 25px 0 rgba(19, 194, 150, 0.24);
}
@media (max-width: 320px) {
  .green__container {
    right: 0;
  }
}

.arrow__img {
  width: 48px;
  height: 28px;
  display: flex;
  align-self: center;
}

.block {
  display: flex;
  justify-items: center;
}
@media (max-width: 320px) {
  .block {
    width: 310px;
    align-items: center;
  }
}

.three__simple__ways {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  margin-top: 48px;
}
@media (max-width: 320px) {
  .three__simple__ways {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .three__simple__ways {
    gap: 50px;
  }
}

.three__simple__ways__container {
  margin-top: 50px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  min-width: 1091px;
}

.three__ways__title {
  font-size: 36px;
  text-align: center;
  color: #99efd0;
}
@media (max-width: 320px) {
  .three__ways__title {
    font-size: 21px;
  }
}

.container__four {
  margin-top: 169px;
}
@media (max-width: 320px) {
  .container__four {
    margin-top: 50px;
  }
}

.container__three__ways {
  align-self: center;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

#secondary__text {
  display: flex;
  color: #8476AA;
  font-weight: 600;
}
@media (max-width: 768px) {
  #secondary__text {
    text-align: center;
  }
}

#secondary__text__two {
  width: 179px;
  text-align: center;
  display: flex;
  justify-self: center;
}

#secondary__text__three {
  width: 295px;
  text-align: center;
  display: flex;
  justify-self: center;
}

#secondary__text__four {
  width: 218px;
  text-align: center;
  display: flex;
  justify-self: center;
}

#secondary__text__centered {
  margin: 0 auto;
  text-align: center;
}

#green__title {
  text-align: center;
}
@media (max-width: 320px) {
  #green__title {
    font-size: 30px;
  }
}

.img {
  display: flex;
  justify-self: center;
}
@media (max-width: 320px) {
  .img {
    width: 320px;
    height: 150px;
  }
}

.container__for__title-and-button {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.button__container {
  display: flex;
  align-self: center;
}

.container__for__different__blocks {
  display: flex;
  justify-self: center;
}
@media (max-width: 768px) {
  .container__for__different__blocks {
    justify-self: start;
  }
}
@media (max-width: 320px) {
  .container__for__different__blocks {
    display: block;
  }
}

.card {
  height: 414px;
  width: 260px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.lilac__block {
  background-color: #516EA9;
  width: 130px;
  height: 65px;
  border-radius: 10px;
  position: relative;
  top: 250px;
  right: 10px;
  z-index: -1;
}

.lilac__container {
  align-items: center;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.text__white {
  color: white;
}

#text__white {
  color: white;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.card__line {
  width: 200px;
  display: flex;
  justify-self: center;
  border: 1px solid #D6DBDF;
}

.card__container {
  display: flex;
  gap: 42px;
}

.light__gray__text {
  color: #98A4AF;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.05em;
}

.dark__gray__text {
  color: #637381;
  font-size: 12px;
}

.card__title {
  font-size: 16px;
}

#green__container {
  height: 60px;
  width: 60px;
  right: 0;
}
#green__container:hover {
  box-shadow: -11px 16px 25px 0 rgba(19, 194, 150, 0.24);
}

#arrow__img {
  height: 18px;
  width: 32px;
}

#block {
  display: flex;
  align-self: center;
  position: relative;
  left: 30px;
  margin-top: -110px;
}
@media (max-width: 320px) {
  #block {
    width: 60px;
  }
}

.dark__green__title {
  color: #13C296;
  font-size: 24px;
  font-weight: 400;
}

.card__text__container {
  padding: 20px 20px 16px 29px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.card__img {
  height: 36px;
  width: 36px;
}
@media (max-width: 320px) {
  .card__img {
    justify-content: center;
  }
}

.feature__title {
  color: #99efd0;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.another__green__title {
  font-size: 26px;
  color: #99efd0;
}

.features__container {
  display: flex;
}
@media (max-width: 320px) {
  .features__container {
    display: block;
  }
}

#another__secondary__text {
  font-weight: 600;
}

.info__online__container {
  display: flex;
  justify-self: center;
  gap: 84px;
}
@media (max-width: 320px) {
  .info__online__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: normal;
  }
}

.help__container {
  align-self: center;
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.email__section {
  height: 497px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.email__container {
  height: 324px;
  width: 940px;
  background-color: #181A50;
  justify-self: center;
  border-radius: 5px;
  padding: 50px 0 0 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 320px) {
  .email__container {
    width: 320px;
    height: 400px;
  }
}

.orange__title {
  color: #F2994A;
  font-size: 34px;
  text-align: center;
}
@media (max-width: 320px) {
  .orange__title {
    font-size: 29px;
  }
}

.email {
  width: 288px;
  height: 46px;
  padding: 0 0 0 16px;
  background-color: #303060;
  border: 1px solid #303060;
  border-radius: 5px;
}
@media (max-width: 320px) {
  .email {
    width: 180px;
  }
}

.email::-moz-placeholder {
  color: #5a5a80;
}

.email::placeholder {
  color: #5a5a80;
}

.secondary__text__two {
  color: #95A1BB;
  text-align: center;
  font-weight: 600;
}

.secondary__text__three {
  color: #8476AA;
  text-align: center;
  font-weight: 600;
}

.email__button__container {
  display: flex;
  justify-content: center;
}

#button__send {
  height: 46px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

li {
  list-style: none;
}

.white__list {
  color: white;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.white__list a {
  color: white;
}
@media (max-width: 320px) {
  .white__list {
    width: 200px;
  }
}

.ARShakir {
  color: #F2994A;
}
@media (max-width: 320px) {
  .ARShakir {
    text-align: center;
  }
}

.circle__block {
  background-color: #303060;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.circle__block__container {
  display: flex;
  gap: 16px;
}
.circle__block__container .circle__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle__img {
  display: flex;
  justify-self: center;
}

.footer__titleContainer {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__titleContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
  }
}

.footer {
  padding: 0 248px 99px 200px;
  gap: 94px;
  display: flex;
  flex-direction: column;
}
.footer__list {
  display: flex;
  justify-content: space-between;
}
.footer__container {
  display: flex;
  justify-content: center;
  gap: 34px;
  color: #8D8D8D;
}
@media (max-width: 768px) {
  .footer {
    padding: 0 0 20px;
  }
}

.choice__title {
  font-size: 42px;
  text-align: center;
  color: #99efd0;
}

.cards__title__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title__text__container {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.container__two {
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.figures__container {
  display: flex;
  flex-direction: column;
  align-self: end;
  height: 256px;
  position: relative;
  left: 40px;
  z-index: -2;
}
@media (max-width: 320px) {
  .figures__container {
    display: none;
  }
}

.navy__figure {
  width: 120px;
  height: 120px;
  border: 1px solid #3056D3;
  border-top-left-radius: 110px;
  position: relative;
  top: 40px;
  z-index: -1;
}

.turquoise__figure {
  width: 68px;
  height: 68px;
  border-top-right-radius: 100px;
  background-color: #13C296;
  position: relative;
  left: 40px;
  z-index: -2;
}

.img__container {
  display: flex;
}
@media (max-width: 320px) {
  .img__container {
    display: block;
    width: 310px;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    align-self: center;
    text-align: center;
  }
}

.footer__container {
  display: flex;
  justify-content: center;
  gap: 34px;
  color: #8D8D8D;
}
@media (max-width: 768px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}

.dots__container {
  display: flex;
}
@media (max-width: 320px) {
  .dots__container {
    display: block;
    width: 310px;
  }
}

.dots__picture {
  height: 62px;
  width: 132px;
  position: relative;
  left: 220px;
  margin-top: -25px;
  z-index: -1;
}
@media (max-width: 320px) {
  .dots__picture {
    display: none;
  }
}

.dots__picture__two {
  height: 62px;
  width: 65px;
  display: flex;
  align-self: center;
  position: relative;
  top: 30px;
  right: 25px;
  z-index: -1;
}
@media (max-width: 320px) {
  .dots__picture__two {
    display: none;
  }
}

.bitmap {
  height: 422px;
  width: 375px;
}
@media (max-width: 320px) {
  .bitmap {
    height: 320px;
    width: 310px;
  }
}

.title__number {
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */